.tab {
  padding: 32px;
  height: 48px;
  display: flex;
  
  .tabTitle {
    color: #666;
    font-size: 30px;
    min-width: 100px;
    height: 60px;
    line-height: 60px;
  }

  .activeTitle {
    font-weight: 600;
    color: #333;
    font-size: 36px;
  }
}
