
.home {
  background-image: linear-gradient(to top, rgba(#ebbba7, 0.5) 0%, rgba(#eb9fb9, 0.5) 100%);
  backdrop-filter: blur(2);
  height: 100%;
  padding: 24px;

  .songWrap {
    margin-bottom: 32px;
    border-radius: 24px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.2);

  }

  .songInfo {
    display: flex;
    align-items: center;

    .songIcon {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      animation: process 4s linear;
      border: 12px solid #f2f2f2;

      @keyframes process {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(-360deg);
        }
      }
    }

    .song {
      flex: 1;
      margin: 24px 24px 0 24px;
    }

    .songText {
      color: white;
      font-weight: 600;
    }

    .songName {
      margin: 12px 0;
      color: #f2f2f2;
      font-size: 26px;
    }

    .original {
      color: #e03838;
      border: 1px solid #e03838;
      padding: 1px 8px;
      border-radius: 12px;
      margin-left: 12px;
      font-size: 16px;
    }
  }


  .songProcessWrap {
    color: #f2f2f2;
    display: flex;
    align-items: center;
    margin: 12px 24px;
    font-size: 26px;
  }

  .songProcess {
    flex: 1;
    height: 16px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 24px;

    .process {
      width: 100px;
      height: inherit;
      border-radius: 24px 0 0 24px;
      background: #f2f2f2;
    }
  }

  .playIconWrap {
    margin: 0 120px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .playIcon {
      font-size: 50px;
    }
  }

  .personInfo {
    border-radius: 24px;
    padding: 24px;
    border: 1px solid #f9f9f9;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    width: calc(100vw - 96px);
    height: 360px;

    .person {
      width: calc(100vw - 96px);
      height: 360px;
      box-shadow: 8px 8px 16px #d1d1d1,
      -8px -8px 16px #ffffff;
      border-radius: 12px;
      position: absolute;
      left: 24px;
      top: 24px;
      backface-visibility: hidden; /*当元素为反面的时候设置为不可见*/
      transition: 1s;
      transform-style: preserve-3d;
    }

    .person1 {
      z-index: 2;
    }

    .person2 {
      transform: rotateY(-180deg);
    }
  }

  .active {
    .person2 {
      transform: rotateY(0deg);
    }

    .person1 {
      transform: rotateY(-180deg);
    }
  }

  .cardContainer {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 16px;
  }

  .cardWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .cardImage {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    .card {
      width: calc((100vw - 144px) / 4);
      text-align: center;
      border-radius: 16px;
      color: #666;
      padding-bottom: 16px;
      background: #fff;
      box-shadow: 5px 5px 10px #d6d6d6,
      -5px -5px 10px #ffffff;
    }

    .darkCard {
      background: linear-gradient(145deg, #f7f7f7, #eaeaea);
      box-shadow: 8px 8px 16px #d1d1d1,
      -8px -8px 16px #ffffff;
    }
  }

  .info {
    display: flex;
    margin: 36px 2px;
    background-color: #ffffff;
    border-radius: 16px;
    color: #eb9fb9;
    padding: 8px 24px;
    box-shadow: inset 4px 4px 8px #d6d6d6, inset -4px -4px 8px #ffffff;

    .icon {
      height: 60px;
      width: 60px;
      margin-right: 24px;
    }

    .typing {
      height: 42rpx;
      margin-top: 16rpx;
      width: 80vw;
      border-right: 1px solid transparent;
      animation: typing 3.5s steps(37, end), blink-caret .75s step-end;
      word-break: break-all;
      overflow: hidden;
    }

    /* 打印效果 */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 80vw;
      }
    }
    /* 光标闪啊闪 */
    @keyframes blink-caret {
      from, to {
        border-color: transparent;
      }
      50% {
        border-color: currentColor;
      }
    }
  }

  .qrIconWrap {
    margin-top: 24px;
    border-top: 1px solid white;
    display: flex;

    .qrIcon {
      width: 120px;
      height: 120px;
      border-radius: 4px;
      background: white;
      margin-top: 24px;
    }

    .text {
      flex: 1;
      margin-top: 24px;
      height: 120px;
    }
  }
}


.box {
  width: 40px;
  height: 26px;
  display: flex;
  transform: rotateX(180deg);
  justify-content: space-between;
  margin-bottom: 42px;
  margin-right: 24px;

  .p {
    width: 6px;
    background: #fff;
    border-radius: 24px;
  }

  .p:first-child {
    animation: move1 2s ease infinite;
    animation-delay: .1s;
  }

  .p:nth-of-type(2) {
    animation: move2 2s ease infinite;
    animation-delay: .3s;
  }

  .p:nth-of-type(3) {
    animation: move3 2s ease infinite;
    animation-delay: .5s;
  }

  .p:nth-of-type(4) {
    animation: move2 2s ease infinite;
    animation-delay: .7s;
  }

  .p:nth-of-type(5) {
    animation: move1 2s ease infinite;
    animation-delay: .7s;
  }

  @keyframes move1 {
    0% {
      height: 5px;
    }

    50% {
      height: 10px;
    }

    100% {
      height: 5px;
    }
  }
  @keyframes move2 {
    0% {
      height: 10px;
    }

    50% {
      height: 20px;
    }

    100% {
      height: 10px;
    }
  }
  @keyframes move3 {
    0% {
      height: 20px;
    }

    50% {
      height: 26px;
    }

    100% {
      height: 20px;
    }
  }
}

.card2 {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
  background-image: linear-gradient(58.2deg, rgba(40, 91, 212, 0.73) -3%, rgba(171, 53, 163, 0.45) 49.3%, rgba(255, 204, 112, 0.37) 97.7%);

  // 好看的背景
  // linear-gradient(120deg, #a6c0fe 0%, #f68084 100%)
  // linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%)
  // linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)
  // linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%)
  // linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%)
  // linear-gradient(to top, #feada6 0%, #f5efef 100%)

  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
  background-blend-mode: normal, normal, screen, overlay, normal;
  background-image: linear-gradient(68.4deg, rgba(248, 182, 204, 1) 0.5%, rgba(192, 198, 230, 1) 49%, rgba(225, 246, 240, 1) 99.8%);
}
