.home {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  height: 100vh;
  padding: 24px;

  .personInfo {
    border-radius: 24px;
    padding: 24px;
    border: 1px solid #f9f9f9;
    background-color: rgba(255, 255, 255, 0.2);

    .person {
      width: calc(100vw - 96px);
      height: 360px;
      box-shadow:
        8px 8px 16px #d1d1d1,
        -8px -8px 16px #ffffff;
      border-radius: 12px;
    }
  }

  .personInfo1 {
    display: flex;
    margin-top: 32px;

    .background {
      height: calc(100vh - 450px);
      width: 500px;
      margin-left: -24px;
      background: url('./image/person3.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .cardWrap {
      width: 120px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 20px;
      margin-left: 16px;
      border-radius: 16px;

      .cardImage {
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }

      .card {
        width: 120px;
        height: 100px;
        text-align: center;
        border-radius: 16px;
        color: #666;
        padding-bottom: 16px;
        background: #fff;
        box-shadow:
          5px 5px 10px #d6d6d6,
          -5px -5px 10px #ffffff;
      }

      .darkCard {
        background: linear-gradient(145deg, #f7f7f7, #eaeaea);
        box-shadow:
          8px 8px 16px #d1d1d1,
          -8px -8px 16px #ffffff;
      }
    }
  }

  .info {
    width: calc(100vw - 48px);
    margin: 36px 2px;
    background-color: #ffffff;
    border-radius: 16px;
    color: #666;
    padding: 8px 24px;
    box-shadow:
      inset 4px 4px 8px #d6d6d6,
      inset -4px -4px 8px #ffffff;

    .icon {
      height: 60px;
      width: 60px;
    }
  }


  .qrIcon {
    width: 160px;
    height: 160px;
    border-radius: 4px;
  }
}

.card2 {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
  background-image: linear-gradient(58.2deg, rgba(40, 91, 212, 0.73) -3%, rgba(171, 53, 163, 0.45) 49.3%, rgba(255, 204, 112, 0.37) 97.7%);

  // 好看的背景
  // linear-gradient(120deg, #a6c0fe 0%, #f68084 100%)
  // linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%)
  // linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)
  // linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%)
  // linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%)
  // linear-gradient(to top, #feada6 0%, #f5efef 100%)

  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
  background-blend-mode: normal, normal, screen, overlay, normal;
  background-image: linear-gradient(68.4deg, rgba(248, 182, 204, 1) 0.5%, rgba(192, 198, 230, 1) 49%, rgba(225, 246, 240, 1) 99.8%);
}