.cardWrap {
  flex: 1;
  overflow: scroll;
  position: relative;

  .songCard {
    border-radius: 36px;
    width: calc((100vw - 90px)/2);
    height: 360px;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    color: white;
  }

  .songBackground {
    position: absolute;
  }

  .songCardText {
    width: calc((100vw - 80px)/2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    z-index: 2;
  }

  .title {
    font-size: 32px;
    font-weight: 600;
  }

  .text {
    padding: 16px;
    white-space: break-spaces;
  }

  .otherSongCard {
    width: calc(100vw - 48px);
    height: fit-content;
    border-radius: 24px;
    margin-left: 16px;
  }

  .otherSongTitle {
    font-size: 30px;
    white-space: break-spaces;
    padding: 16px;
  }

  .otherSongText {
    white-space: break-spaces;
    padding: 0 20rpx 20px 12px;
  }

  .commonSongText {
    white-space: break-spaces;
    padding: 20px;
  }

  .inputWrap {
    display: flex;
    align-items: center;
    margin: 0 38px 24px;
    position: relative;

    .inputIcon {
      position: absolute;
      color: #666;
      left: 12px;
    }
 
    .input {
      flex: 1;
      height: 74px;
      border-radius: 8px;
      color: #333;
      padding-inline-end: 24px;
      padding-inline-start: 52px;
      box-shadow: 0 1px 6px 0 #20212447;
    }
  }
}

.artTextWrap {
  display: flex;
  flex: 1;
  justify-content: center;
  background: radial-gradient(circle, rgb(255, 124, 0) 20%, #e6a064 48%, #fff7f3 80%);
  // background: radial-gradient(circle, rgb(255, 124, 0) 5%, #e6a064 50%, #fff7f3 80%);

  .artTextImage {
    margin-top: 200px;
    height: 700px;
    width: 550px;
    border-radius: 24px;
    box-shadow: 0 0 20px 0 black;
    transform-origin: center;
    animation: flyIn 2s ease-out forwards;
  }
  
  @keyframes flyIn {
    0% {
      transform: translateX(-100vw) scale(0) rotate(0deg); /* 从屏幕左侧外面开始 */
    }
    50% {
      transform: translateX(50vw) scale(1.2) rotate(720deg); /* 旋转2圈并放大 */
    }
    100% {
      transform: translateX(0) scale(1) rotate(1080deg); /* 旋转3圈到最终位置 */
    }
  }
}
