$color: rgb(188 76 79);
$width: 160px;
$halfWidth: calc($width / 2);

.lyricWrap {
  flex: 1;

  .lyric {
    background: url('../../../../image/love.png') no-repeat center top;
    background-size: contain;
    opacity: 0.5;
    display: flex;
    flex-direction: column;

    .text {
      display: flex;
      background-color: white;
      padding: 20px;
      border-radius: 16px;
      color: #666;
      width: fit-content;
      margin: 24rpx;
    }

    .border {
      border: 1px solid #db93a6;
    }
  }

  .heartWrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  
    .heart {
      left: calc(50vw - $halfWidth);
      top: calc(50vh - calc($halfWidth / 2));
      position: relative;
      width: $width;
      height: $width;
      background-color: $color;
      transform: rotate(45deg);
      position: relative;
      box-shadow: 5px 5px $width 0 $color;
      animation: heart .8s linear infinite;
    
      .name {
        z-index: 1;
        width: 130px;
        height: 100px;
        position: absolute;
        animation: name .8s linear infinite;
      }
    
      &::before {
        position: absolute;
        content: " ";
        width: $width;
        height: $width;
        top: -$halfWidth;
        left: 0;
        border-radius: 50%;
        background-color: $color;
        box-shadow: 0 0 $width 0 $color;
      }
    
      &::after {
        position: absolute;
        content: " ";
        width: $width;
        height: $width;
        top: 0;
        left: -$halfWidth;
        border-radius: 50%;
        background-color: $color;
        box-shadow: 0 0 $width 0 $color;
      }
    
      @keyframes name {
        0% {
          transform: rotate(-45deg) scale(1.1);
        }
    
        75% {
          transform: rotate(-45deg) scale(1);
        }
    
        100% {
          transform: rotate(-45deg) scale(0.8);
        }
      }
    
      @keyframes heart {
        0% {
          transform: rotate(45deg) scale(1.1);
        }
    
        75% {
          transform: rotate(45deg) scale(1);
        }
    
        100% {
          transform: rotate(45deg) scale(0.8);
        }
      }
    }
  }
}
