.lyricContainer {
  flex: 1;
  background: url('../../../../image/2.png') no-repeat center top;
  background-size: contain;
  opacity: 0.5;

  .lyricWrap {
    display: flex;
    height: inherit;
    flex-direction: column;
  }

  .text {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    color: #666;
    width: fit-content;
    margin: 24rpx;
  }
}
